[collinearity]
blast = test_input.blast
gff1 =  test_input.gff
gff2 =  test_input.gff
lens1 = test_input.len
lens2 = test_input.len
blast_reverse = false
multiple  = 1
process = 30
evalue = 1e-5
score = 100
grading = 50,40,25
mg = 25,25
pvalue = 0.2
repeat_number = 10
positon = order
savefile = test.collinearity